<div class="modal fade" id="myModal" role="dialog" [ngClass]="{'in':show}" [style.display]="show?'block':'none'" #spy>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeDialog()">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>This is a small modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeDialog()">Close</button>
            </div>
        </div>
    </div>
</div>